* {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;    
}
a {
    text-decoration: none;
}
.nav {
    height: 75px;
    width: 700px;
    background-color: cornflowerblue;
    align-items: center;
    list-style-type: none;
}
.nav img {
    height: 50px;
}
.nav h1{
    margin-left: 18px;
    font-size: 16px;
}
.nav ul {
    justify-content: space-around;
    width: 60%;
}
.nav li {
    font-size: 11px;
}
